# Ignore everything
*

# Except for these files
!.gitignore
!pyproject.toml
!config.yaml
!README.md
!notetaking_conversion/prompts.json
!notetaking_conversion/

# Include all .py files
!**/*.py

# Include specific directories and their contents
!ai_model_interface/
!models/
!config/
!notetaking_conversion/
!tests/