# Ignore everything
*

# Except for these files
!.gitignore
!pyproject.toml
!config.yaml
!config-schema.json
!README.md
!poetry.lock

# Include all .py files
!**/*.py

# Include specific directories and their contents
!ai_model_core/
!model_helpers/
!shared_utils/
!config/

# Include the tests directory and all its subdirectories and .py files
!tests/
!tests/**/*.py